<div class="col-12 row" *ngFor="let action of actions; let index = index;">
    <button class="col-auto" mat-button [matMenuTriggerFor]="actionMenu" [style.color]="action.color">{{action.name}}</button>
    <mat-menu #actionMenu="matMenu">
        <button mat-menu-item [disabled]="true">{{'ACTIONS.PANEL.TOOLTIP' | translate}}</button>
        <button mat-menu-item [disabled]="true">{{action.controllerSend}}</button>
        <button mat-menu-item [disabled]="true">{{action.toolTipText}}</button>
        <button mat-menu-item (click)="selectMenuAction(index);executeAction(index);">
            <mat-icon>{{action.icon}}</mat-icon>
        </button>
    </mat-menu>
    <button class="col-2" mat-button (click)="executeAction(index)" [style.color]="action.color">
        <mat-icon>send</mat-icon>
    </button>
    <hr class="col-12">
</div>
