<div class="row">
    <!-- <div class="col-12">
        <mat-card class="row subCard" *ngIf="account != null">
            <mat-card-header class="col-12" (click)="collapsedAccount=!collapsedAccount">
                <mat-card-title>{{'TITLES.CARDS.ACCOUNT' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="!collapsedAccount" class="col-12"> -->
    <app-account-editor-panel class="col-12" [account]="account"></app-account-editor-panel>
    <!-- </mat-card-content>
        </mat-card>
    </div> -->
    <!-- <div class="col-12">
        <mat-card class="row subCard" *ngIf="account != null && account.get('passwords') != null && account.get('passwords')['controls'].length > 0">
            <mat-card-header class="col-12" (click)="collapsedPassword=!collapsedPassword">
                <mat-card-title>{{'TITLES.CARDS.PASSWORD' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="!collapsedPassword" class="col-12"> -->
    <mat-accordion class="col-12">
        <div *ngFor="let password of account.get('passwords')['controls']; let i = index">
            <mat-expansion-panel class="matPasswordExpandPanel" [expanded]="step === i" (opened)="setStep(i)" (closed)="closePassword(i)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title [style.color]="getColor(password.get('strength').value)">
                        <h4>{{i+1}}. {{password.get('name').value}}</h4>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{password.get('logInLink').value}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-password-editor-panel [password]="password"></app-password-editor-panel>
                <mat-action-row>
                    <button mat-button *ngIf="i > 0" color="warn" (click)="prevStep()">Previous</button>
                    <button mat-button *ngIf="i < account.get('passwords')['controls'].length-1" color="primary" (click)="nextStep()">Next</button>
                    <button mat-button *ngIf="i == account.get('passwords')['controls'].length-1" color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
    <button mat-raised-button color="primary" class="col-auto" (click)="addPassword()">{{'COMMON.ADD_PASSWORD' | translate}}</button>

    <!-- </mat-card-content>
        </mat-card>
    </div> -->
</div>