################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v16

PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v15/Server/sqlite3/db.lock

*.lock

PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v15/.suo

PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v15/Server/sqlite3/storage.ide

PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v15/Server/sqlite3/storage.ide-wal

PasswordServerAPI_Project/PasswordServerApi/PasswordServerApi/obj/Debug/netcoreapp2.2/PasswordServerApi.csproj.CoreCompileInputs.cache

PasswordServerAPI_Project/PasswordServerApi/PasswordServerApi/obj/Debug/netcoreapp2.2/PasswordServerApi.csprojAssemblyReference.cache
