################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordServerAPI_Project/PasswordServerApi/.vs/PasswordServerApi/v16
