<mat-card class="row">
    <div class="col-4">
        <mat-card class="row subCard">
            <h4 class="col-12 inner-header">{{'TITLES.ACTIONS' | translate}}</h4>
            <mat-accordion>
                <mat-expansion-panel [disabled]="true" class="readonlyPanel">
                    <mat-expansion-panel-header class="headerListPanel">
                        <mat-grid-list class="headerListCard" rowHeight="48px" cols="14">
                            <mat-grid-tile [colspan]="4">{{'ACTIONS.TITLES.NAME' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="6">{{'ACTIONS.TITLES.TOOLTIP' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="2">{{'ACTIONS.TITLES.ICON' | translate}}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <div *ngFor="let action of actions ; let index = index;">
                    <mat-expansion-panel [id]="'editor-panel-'+ index" hideToggle="true" [expanded]="expandedIndex === index" (opened)="open(index)" (closed)="close()">
                        <mat-expansion-panel-header>
                            <mat-grid-list class="secondaryHeaderListCard" rowHeight="40px" cols="14">
                                <mat-grid-tile [colspan]="4">{{action.name}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="6">{{action.tooltip}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="2">{{action.icon}}</mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel-header>
                        <app-editor-expansion-panel [action]="action" (onActionSelected)="onActionSelected($event)"></app-editor-expansion-panel>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-card>
    </div>
    <div class="col-8">
        <mat-card class="row subCard" *ngIf="accountModels != null && accountModels.length > 0">
            <h4 class="col-12 inner-header">{{'TITLES.EDITOR' | translate}}</h4>

            <app-request-editor-panel *ngIf="accountModels.length == 1" class="col-12" [account]="accountModels[0]"></app-request-editor-panel>

            <mat-accordion *ngIf="accountModels.length > 1">
                <mat-expansion-panel [disabled]="true" class="readonlyPanel">
                    <mat-expansion-panel-header class="headerListPanel">
                        <mat-grid-list class="headerListCard" rowHeight="48px" cols="14">
                            <mat-grid-tile [colspan]="4">{{'ACTIONS.REQUEST.ACCOUNT.USER_NAME' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="6">{{'ACTIONS.REQUEST.ACCOUNT.LAST_NAME' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="2">{{'ACTIONS.REQUEST.ACCOUNT.ROLE' | translate}}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <div *ngFor="let accountModel of accountModels ; let indexAcc = index;">
                    <mat-expansion-panel [id]="'editor-panel-acc-'+ indexAcc" hideToggle="true" [expanded]="selectedAccountIndex === indexAcc" (opened)="openAccount(indexAcc)" (closed)="closeAccount()">
                        <mat-expansion-panel-header>
                            <mat-grid-list class="secondaryHeaderListCard" rowHeight="40px" cols="14">
                                <mat-grid-tile [colspan]="4">{{accountModel?.get('userName')?.value}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="6">{{accountModel?.get('lastName')?.value}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="2">{{accountModel?.get('role')?.value}}</mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel-header>
                        <app-request-editor-panel class="col-12" [account]="accountModel"></app-request-editor-panel>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
            <!-- <h4 class="col-12 inner-header">{{'TITLES.EDITOR' | translate}}</h4> -->
            <!-- <app-request-editor-panel  class="col-12" *ngFor="let accountModel of accountModels;  let i = index;" (opened)="selectedAccountIndex==i" [account]="accountModel"></app-request-editor-panel> -->
        </mat-card>
    </div>
</mat-card>