<mat-card class="row subCard">
    <h4 class="col-12 inner-header">{{'TITLES.EDITOR' | translate}}</h4>
    <div class="col-4">
        <mat-accordion>
            <mat-expansion-panel [disabled]="true" class="readonlyPanel">
                <mat-expansion-panel-header class="headerListPanel">
                    <mat-grid-list class="headerListCard" rowHeight="48px" cols="14">
                        <mat-grid-tile [colspan]="4">{{'ACTIONS.TITLES.NAME' | translate}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="4">{{'ACTIONS.TITLES.TOOLTIP' | translate}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="4">{{'ACTIONS.TITLES.ICON' | translate}}</mat-grid-tile>
                    </mat-grid-list>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <div *ngFor="let action of actions ; let index = index;">
                <mat-expansion-panel [id]="'editor-panel-'+ index" hideToggle="true" [expanded]="expandedIndex === index" (opened)="open()" (closed)="close()">
                    <mat-expansion-panel-header>
                        <mat-grid-list class="secondaryHeaderListCard" rowHeight="40px" cols="14">
                            <mat-grid-tile [colspan]="4">{{action.name}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="4">{{action.tooltip}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="4">{{action.icon}}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel-header>
                    <app-editor-expansion-panel *ngIf="isOpen" (onClose)="close()" [action]="action" (onActionSelected)="onActionSelected($event)"></app-editor-expansion-panel>
                </mat-expansion-panel>
            </div>
        </mat-accordion>
    </div>
    <div class="col-8">
        <app-request-editor-panel [account]="accountModel"></app-request-editor-panel>
    </div>
</mat-card>