<mat-card class="row">
    <form class="col-12 row">
        <!-- ActionViewer -->
        <!-- <div class="col-12 row">
        <mat-accordion class="col-12 subCard" *ngIf="selectedAction != -1">
            <mat-expansion-panel [id]="selectedAction" hideToggle="true" (opened)="open(selectedAction)" (closed)="close()">
                <mat-expansion-panel-header>
                    <mat-grid-list class="secondaryHeaderListCard" rowHeight="25px" cols="12">
                        <mat-grid-tile [colspan]="2">{{'TITLES.ACTION' | translate}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="8">{{actions[selectedAction].toolTipText}}</mat-grid-tile>
                        <mat-grid-tile [colspan]="2">
                            <mat-icon aria-hidden="false" aria-label="Menu">{{actions[selectedAction].icon}}</mat-icon>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-expansion-panel-header>
                <app-action-expansion-panel [action]="actions[selectedAction]" (onActionSelected)="onActionSelected($event)"></app-action-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </div> -->
        <!-- AccountEditor -->
        <mat-card class="col-12 row subCard" *ngIf="accountModels != null && accountModels.length > 0">
            <!-- <h4 class="col-12 inner-header">{{'TITLES.EDITOR' | translate}}</h4> -->
            <mat-accordion class="col-12">
                <mat-expansion-panel [disabled]="true" class="readonlyPanel">
                    <h4 class="col-12 inner-header">{{'TITLES.EDITOR' | translate}}</h4>
                    <mat-expansion-panel-header class="headerListPanel">
                        <mat-grid-list class="headerListCard" rowHeight="48px" cols="12">
                            <mat-grid-tile [colspan]="4">{{'ACTIONS.REQUEST.ACCOUNT.USER_NAME' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="6">{{'ACTIONS.REQUEST.ACCOUNT.LAST_NAME' | translate}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="2">{{'ACTIONS.REQUEST.ACCOUNT.ROLE' | translate}}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <div *ngFor="let accountModel of accountModels ; let indexAcc = index;">
                    <mat-expansion-panel [id]="'editor-panel-acc-'+ indexAcc" hideToggle="true" [expanded]="selectedAccountIndex === indexAcc" (opened)="openAccount(indexAcc)" (closed)="closeAccount(indexAcc)">
                        <mat-expansion-panel-header>
                            <mat-grid-list class="secondaryHeaderListCard" rowHeight="40px" cols="12">
                                <mat-grid-tile [colspan]="4">{{accountModel?.get('userName')?.value}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="6">{{accountModel?.get('lastName')?.value}}</mat-grid-tile>
                                <mat-grid-tile [colspan]="2">{{accountModel?.get('role')?.value}}</mat-grid-tile>
                            </mat-grid-list>
                        </mat-expansion-panel-header>
                        <app-request-editor-panel class="col-12" [account]="accountModel" (selectedPasswordIndexEvent)="selectedPasswordIndexEvent($event)"></app-request-editor-panel>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-card>
        <mat-card class="col-12 row subCard">
            <app-token-section-panel class="col-12"></app-token-section-panel>
        </mat-card>
    </form>
</mat-card>