<mat-card class="row subPanel">
    <h4>{{'TITLES.LOGIN' | translate}}</h4>
    <div class="col-12">
        <form (keydown)="keyDownFunction($event)">
            <mat-form-field class="col-4">
                <input matInput placeholder="{{'LOGIN.USERNAME' | translate}}" [formControl]="formGroup.get('username')">
                <mat-error *ngIf="formGroup.get('username').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>

            <mat-form-field class="col-4">
                <input matInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate}}" [formControl]="formGroup.get('password')">
                <mat-error *ngIf="formGroup.get('password').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>

            <button mat-raised-button class="col-2" color="primary" [disabled]="formGroup.invalid" (click)="login()">{{'COMMON.OK' | translate}}</button>
        </form>
    </div>
</mat-card>