@import "src/assets/styles/palette.scss";
.tokenRow{
    background-color: map-get($md-mypalette, 300);
}



.footerConnections{
    min-height: 5em;
    max-height: 15em;
    overflow-y:auto !important;
  }