<div class="row">
    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.NAME' | translate}}" [value]="password.get('name').value" [disabled]="false">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.USER_NAME' | translate}}" [value]="password.get('userName').value" [disabled]="false">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.PASSWORD' | translate}}" [value]="password.get('password').value" [disabled]="false">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.LOGIN_LINK' | translate}}" [value]="password.get('logInLink').value" [disabled]="false">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.SENSITIVITY' | translate}}" [value]="password.get('sensitivity').value" [disabled]="false">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.STRENGTH' | translate}}" [value]="password.get('strength').value" [disabled]="false">
    </mat-form-field>
</div>