<div class="row">
    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.NAME' | translate}}" [formControl]="password.get('name')">
        <mat-error *ngIf="password.get('name').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.USER_NAME' | translate}}" [formControl]="password.get('userName')">
        <mat-error *ngIf="password.get('userName').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.PASSWORD' | translate}}" [formControl]="password.get('password')">
        <mat-error *ngIf="password.get('password').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.LOGIN_LINK' | translate}}" [formControl]="password.get('logInLink')">
        <mat-error *ngIf="password.get('logInLink').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-select placeholder="{{'ACTIONS.REQUEST.PASSWORD.SENSITIVITY' | translate}}" [formControl]="password.get('sensitivity')">
            <mat-option [value]="sensitivity.OnlyUser">{{'ENUMS.SENSITIVITY.ONLY_USER' | translate}}</mat-option>
            <mat-option [value]="sensitivity.Family">{{'ENUMS.SENSITIVITY.FAMILY' | translate}}</mat-option>
            <mat-option [value]="sensitivity.Friends">{{'ENUMS.SENSITIVITY.FRIENDS' | translate}}</mat-option>
            <mat-option [value]="sensitivity.ForGroup">{{'ENUMS.SENSITIVITY.FOR_GROUP' | translate}}</mat-option>
            <mat-option [value]="sensitivity.ForEveryone">{{'ENUMS.SENSITIVITY.FOR_EVERY_ONE' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="password.get('sensitivity').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <mat-select placeholder="{{'ACTIONS.REQUEST.PASSWORD.STRENGTH' | translate}}" [formControl]="password.get('strength')">
            <mat-option [value]="strength.VeryStrong">{{'ENUMS.STRENGTH.VERY_STRONG' | translate}}</mat-option>
            <mat-option [value]="strength.Strong">{{'ENUMS.STRENGTH.STRONG' | translate}}</mat-option>
            <mat-option [value]="strength.Medium">{{'ENUMS.STRENGTH.MEDIUM' | translate}}</mat-option>
            <mat-option [value]="strength.Weak">{{'ENUMS.STRENGTH.WEAK' | translate}}</mat-option>
            <mat-option [value]="strength.VeryWeak">{{'ENUMS.STRENGTH.VERY_WEAK' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="password.get('strength').hasError('required')">{{'VALIDATION.REQUIRED' | translate}}</mat-error>
    </mat-form-field>

</div>
