<div class="row">
    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.NAME' | translate}}" [formControl]="password.get('name')">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.USER_NAME' | translate}}" [formControl]="password.get('userName')">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.PASSWORD' | translate}}" [formControl]="password.get('password')">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.LOGIN_LINK' | translate}}" [formControl]="password.get('logInLink')">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.SENSITIVITY' | translate}}" [formControl]="password.get('sensitivity')">
    </mat-form-field>

    <mat-form-field class="col-md-4">
        <input matInput placeholder="{{'ACTIONS.REQUEST.PASSWORD.STRENGTH' | translate}}" [formControl]="password.get('strength')">
    </mat-form-field>
</div>
