<!-- <mat-card class="row"> -->
<form class="col-12">
    <mat-tab-group class="matTabGroup" mat-align-tabs="center">
        <mat-tab label="Connections">
            <!-- Connection Token Viewer -->
            <app-token-section-panel></app-token-section-panel>
        </mat-tab>
        <mat-tab label="Accounts" *ngIf="accountModels !=null && accountModels.length > 0">
            <!-- Account Editor -->
            <div *ngFor="let accountModel of accountModels ; let indexAcc = index;">
                <mat-expansion-panel class="accordionContentClass" [id]="'editor-panel-acc-'+ indexAcc" hideToggle="true" [expanded]="accountModels.length==1 || selectedAccountIndex == indexAcc" (opened)="openAccount(indexAcc)" (closed)="closeAccount(indexAcc)">
                    <mat-expansion-panel-header>
                        <mat-grid-list class="ListCard" rowHeight="40px" cols="12">
                            <mat-grid-tile [colspan]="4">{{accountModel?.get('userName')?.value}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="6">{{accountModel?.get('lastName')?.value}}</mat-grid-tile>
                            <mat-grid-tile [colspan]="2">{{accountModel?.get('role')?.value}}</mat-grid-tile>
                        </mat-grid-list>
                    </mat-expansion-panel-header>
                    <app-request-editor-panel [account]="accountModel" (selectedPasswordIndexEvent)="selectedPasswordIndexEvent($event)"></app-request-editor-panel>
                </mat-expansion-panel>
            </div>
            <button mat-raised-button color="primary" *ngIf="isActionAddAccountIsOn" (click)="addAccount()">{{'COMMON.ADD_ACCOUNT' | translate}}</button>
        </mat-tab>
        <mat-tab label="Notes">
             <!-- Notes Editor -->
            <app-note-tab></app-note-tab>
        </mat-tab>
        <mat-tab label="Your Location">
            <!-- Try To Add Google Maps -->
            <app-google-map></app-google-map>
        </mat-tab>
        <mat-tab label="Selected Action" *ngIf="selectedAction != -1">
            <!-- Action Viewer -->
            <app-action-expansion-panel [action]="actions[selectedAction]" (onActionSelected)="onActionSelected($event)"></app-action-expansion-panel>
        </mat-tab>
    </mat-tab-group>
</form>
<ngx-float-button color="black" class="mainFloatingActions" *ngIf="activeActions != null && activeActions.length > 0" floating="true" icon="add" (click)="openBottomSheet()"></ngx-float-button>
<!-- </mat-card> -->