button {
  padding: 0.1em;
  margin: 0.3em;
}

mat-form-field {
  padding: 0.1em;
  margin: 0.3em;
}

$mainBackground: rgb(164, 196, 211);
$matsubBackground: rgb(193, 208, 216);
$matpanelBackground: rgb(235, 255, 255);
$matPasswordBackground: rgb(164, 196, 211);

// .mainPanel{
//     background-color: #ffffff;
// }

// .panel{
//     background-color: #d0d0dd;
// }

// .subPanel{
//     background-color: #e7e8ec94;
// }
