button {
  padding: 0.1em;
  margin: 0.3em;
}

mat-form-field {
  padding: 0.1em;
  margin: 0.3em;
}



// .mainPanel{
//     background-color: #ffffff;
// }

// .panel{
//     background-color: #d0d0dd;
// }

// .subPanel{
//     background-color: #e7e8ec94;
// }