<mat-card class="row subCard">
    <h4>{{'TITLES.STATISTIC' | translate}}</h4>
    <!-- 
    <div class="col-12">
        <mat-grid-list cols="{{statisticTable.get('yValues').value.length}}" rowHeight="3px">
            <div *ngFor="let x of statisticTable.get('xValues').value; let xIndex = index">
                <mat-grid-tile [colspan]="1" [rowspan]="GetColSpan(xIndex)" [style.background]="getColor(xIndex)">{{x}}</mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>


    <div class="col-12">
        <mat-grid-list cols="{{100}}" rowHeight="16px">
            <div #row *ngFor="let x of table; let xIndex = index">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="x.yArray[0]">{{x.xValue}}</mat-grid-tile>
                <div #Column *ngFor="let y of x.yArray; let yIndex = index">
                    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="y"></mat-grid-tile>
                </div>
            </div>
        </mat-grid-list>
    </div> -->

    <!-- 
    <div class="col-12" *ngFor="let x of statisticTable.get('xValues').value; let xIndex = index">
        {{x}} <mat-progress-bar mode="determinate" value="{{GetColSpan(xIndex)}}"></mat-progress-bar>
    </div> -->
<!--   

    <div class="col-12">
        <mat-grid-list cols="{{100}}" rowHeight="1em">
            <div *ngFor="let x of xTable; let xIndex = index">
                <mat-grid-tile *ngFor="let y of x; let xIndex = index" [colspan]="1" [rowspan]="1" [style.background]="y"></mat-grid-tile>
            </div>
        </mat-grid-list>
    </div> -->
</mat-card>