<mat-sidenav-container class="col-12 row slideContainer">
    <mat-sidenav #sidenav class="row" mode="over" [(opened)]="opened">
        <button class="col" mat-button><h4>{{'MENU.HEADER' | translate}}</h4></button>
        <button class="col" mat-button *ngFor="let action of actions; let index = index;" (click)="selectMenuAction(index)" [style.color]="action.color">{{action.name}}</button>
        <button class="col" mat-button *ngIf="isActionAddAccountIsOn" (click)="addAccount()">{{'COMMON.ADD_ACCOUNT' | translate}}</button>
        <button class="col" mat-button *ngIf="isActionAddPasswordIsOn != -1" (click)="addPassword()">{{'COMMON.ADD_PASSWORD' | translate}}</button>
        <button class="col" mat-button><h6>{{'MENU.FOOTER' | translate}}</h6></button>
    </mat-sidenav>

    <mat-sidenav-content class="col-12">
        <mat-card class="mainContainerCard">
            <button mat-flat-button class="floatingMenuButton" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <div *ngIf="mastDoLogIn">
                <app-login [formGroup]="loginForm" (LoginEvent)="login($event)"></app-login>
            </div>
            <div *ngIf="!mastDoLogIn">
                <app-editor [selectedAction]="selectedAction" [accountModels]="accountModels" (IsActionAddPasswordIsOnEvent)="IsActionAddPasswordIsOnEvent($event)"></app-editor>
            </div>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>